label{
    
    text-align: right;
    margin-top: 10px;
}

input {
  
  margin-top: 10px;
}

.button_personalizado{
    text-decoration: none;
    margin-top: 50px;
    margin-left: 15px;
    color:white;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}